.dark .vxe-table--render-default .vxe-table--body-wrapper {
  background-color: #171717;
}

.dark .vxe-table--render-default .vxe-body--row.row--current {
  background-color: #11273B;
}

.dark .vxe-table--render-default .vxe-body--row.row--hover {
  background-color: #242424;
}

.dark .vxe-table--render-default .vxe-body--row.row--hover.row--current {
  background-color: #11273B;
}


//.dark .vxe-table--render-default .vxe-body--row.row--hover .row--current{
//  background-color:#11273B;
//}
//.dark .vxe-table--render-default.border--default .vxe-table--header-wrapper, .vxe-table--render-default.border--full .vxe-table--header-wrapper, .vxe-table--render-default.border--outer .vxe-table--header-wrapper{
.dark .vxe-table--render-default.border--full .vxe-table--header-wrapper {
  background-color: #0B0B0B;
}

.dark .vxe-table--render-default.border--full .vxe-table--footer-wrapper {
  background-color: #0B0B0B;
}

.dark .vxe-table--render-default {
  color: #C9D1D9;
}

.dark .vxe-table .vxe-table--header-wrapper {
  color: #B0B0B0;
}

.dark .vxe-table .vxe-table--footer-wrapper {
  color: #B0B0B0;
}

.dark .vxe-toolbar {
  background-color: #151515;
}

.dark .vxe-button {
  background-color: #151515;
}

.dark .vxe-pager {
  background-color: #151515;
}


.dark .vxe-input--inner {
  background-color: #151515;
}

.dark .vxe-pager .vxe-pager--jump .vxe-pager--goto {
  background-color: #151515;
}

.dark .vxe-pager .vxe-pager--next-btn {
  background-color: #151515;
}

.dark .vxe-pager .vxe-pager--prev-btn {
  background-color: #151515;
}

.dark .vxe-pager .vxe-pager--jump-prev {
  background-color: #151515;
}

.dark .vxe-pager .vxe-pager--jump-next {
  background-color: #151515;
}

.dark .vxe-table--render-default .vxe-body--row.row--checked {
  background-color: #11273B;
}

.dark .vxe-custom--option .vxe-checkbox--icon:before,
.dark .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon:before,
.dark .vxe-table--filter-option .vxe-checkbox--icon:before,
.dark .vxe-export--panel-column-option .vxe-checkbox--icon:before {
  background-color: #151515;
}


.dark .vxe-custom--option .vxe-checkbox--icon:before,
.dark .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon:before,
.dark .vxe-table--filter-option .vxe-checkbox--icon:before,
.dark .vxe-export--panel-column-option .vxe-checkbox--icon:before {
  //border: 1px solid #dcdfe6;
}
