
.el-table--small .el-table__cell {
  padding: 2px 0;
}

.el-table--small .cell {
  padding: 0 4px;
}

//.zform .el-form-item--default .el-form-item__label {
//  line-height: 38px;
//}
//
//.zform .el-form-item__label {
//  padding: 0 2px 0 0;
//}
//
//.zform .el-form-item__content {
//  background-color: white;
//  border-left: 1px solid #d2d2d2;
//}
//
//.zform .el-form-item--mini.el-form-item,
//.zform .el-form-item--small.el-form-item {
//  margin-top: 0;
//  margin-bottom: 0;
//}
//
//.zform .el-row {
//  border-bottom: 1px solid #d2d2d2;
//  border-left: 1px solid #d2d2d2;
//  background-color: #f6f6f6;
//  padding: 0;
//}
//
//.zform .zinput {
//  padding: 4px;
//  border-right: 1px solid #d2d2d2;
//  //border-left: 1px solid #d2d2d2;
//  height: 40px;
//  width: 100%;
//  //min-width: 200px;
//  background-color: white;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//  //overflow-x: auto;
//  //overflow-y: hidden;
//  overflow: hidden;
//
//}


.p-flex {
  display: flex;
  //background-color: white;
}

.p-left {
  width: 250px;
  min-width: 250px;
  margin-right: 6px;
}

.p-right {
  flex: 1;
  width: 100%;
}

.zjustify{
  display:flex;
  justify-content:space-between;
}

.list-search {
  width: 200px;
  margin-right: 10px;
  height: 32px;
}

.p-right .box-card {
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.el-card__header {
  padding: 8px;
}

.el-card__body {
  padding: 8px;
}

//.lr-card .el-card__header{
//  padding: 8px;
//}

.p-right .el-card__body {
  position: absolute;
  width: 100%;
}

//.lr-card-body{
//  padding:3px 13px 3px 2px;position: absolute;width: 100%;
//}

.more-button {
  border: 1px dashed #409EFF;
  //background-color: #ecf5ff !important;
  color: #409eff;
  width: 38px;
  padding-left: 20px;
}

.more-params {
  border: 1px dashed #409EFF;
  padding-top: 10px;
  margin-top: 10px;
}

.more-params .el-form-item--default {
  margin-bottom: 10px;
}

.layout-main>.layout-main-scroll {
  padding: 6px;
}

.znotes {
  color: red;
  border: 1px dashed red;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px
}

.render-form .field-wrapper {
  margin-top: 4px !important;
  margin-bottom: 16px !important;
}

.main-header {
  display: none !important;
}

.el-table .cell {
  padding: 0 6px;
}

.el-button {
  padding: 8px 12px;
}

.el-button i.el-icon {
  margin-right: 0;
}

.el-button [class*=el-icon] + span {
  margin-left: 6px;
}

//.el-menu-hover-bg-color, .el-menu-item.is-active, .el-sub-menu.is-active .el-sub-menu__title, .el-sub-menu:not(.is-opened):hover .el-sub-menu__title
//{
//  background-color: #0960bd !important;
//}
.amap-dialog .el-overlay .el-overlay-dialog .el-dialog .el-dialog__body {
  padding: 0 !important;
}

.amap-dialog .el-dialog__header {
  margin: 10px;
  padding: 0;
}

.amap-dialog .el-dialog__headerbtn {
  top: 0;
}


//表单样式
.zform .zform-div {
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2
}

.dark .zform .zform-div{
  border-top: 0;
  border-right: 0;
}

.zform .el-form-item--default {
  margin: 0;
  padding: 0;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.dark .zform .el-form-item--default {
  border-left: 0;
  border-bottom: 0;
}

.zform .zform-item{
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.dark .zform .zform-item{
  border-left: 0;
  border-bottom: 0;
}

.zform .el-form-item--default .el-form-item__label {
  height: auto !important;
  background-color: #f6f6f6;
  line-height: 38px;
  padding: 0 2px 0 6px;
}

.dark .zform .el-form-item--default .el-form-item__label {
  background-color: #1d1e1f;
}

.zform .el-form-item--default .el-form-item__content {
  padding: 4px;
  background-color: white;
  border-left: 1px solid #d2d2d2;
}

.dark .zform .el-form-item--default .el-form-item__content {
  background-color: #1d1e1f;
  border-left: 0;
}

.zform .el-form-item__content .zinput{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 8px;
  min-height: 32px;
}

.zform .el-form-item__content .ztextarea{
  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
  margin-left: 8px;
  min-height: 96px;
}

.zform .el-form-item{
  width: 50%;
}

.zform25 .zform-div .el-form-item{
  width: 25%;
}

.zform100 .zform-div .el-form-item{
  width: 100%;
}



//以下为xform样式,没有边框
.xform .el-form-item--default {
  margin: 0;
  padding: 0;
}

.xform .el-form-item--default .el-form-item__label {
  height: auto !important;
  line-height: 38px;
  padding: 0 2px 0 6px;
}

.xform .el-form-item--default .el-form-item__content {
  padding: 4px;
}

.xform .el-form-item__content .zinput{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 8px;
  min-height: 32px;
}

.xform .el-form-item__content .ztextarea{
  margin-left: 8px;
  min-height: 96px;
}

.xform .el-form-item{
  width: 50%;
  //padding-bottom: 14px;
}

.xform .el-form-item__error{
  display: none;
}

.xform25 .zform-div .el-form-item{
  width: 25%;
}

.xform100 .zform-div .el-form-item{
  width: 100%;
}

//以下为yform,有边框，小号
.yform .zform-div {
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2
}

.yform .el-form-item--small {
  margin: 0;
  padding: 0;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.yform .zform-item{
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.yform .el-form-item--small .el-form-item__label {
  height: auto !important;
  background-color: #f6f6f6 !important;
  line-height: 28px;
  padding: 0 2px 0 6px;
}

.yform .el-form-item--small .el-form-item__content {
  padding: 2px;
  background-color: white;
  border-left: 1px solid #d2d2d2;
}

.yform .el-form-item__content .zinput{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 8px;
  min-height: 24px;
}

.yform .el-form-item__content .ztextarea{
  min-height: 96px;
}

.yform .el-form-item{
  width: 50%;
}

.yform25 .zform-div .el-form-item{
  width: 25%;
}

.yform100 .zform-div .el-form-item{
  width: 100%;
}


//去除阴影
.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover{
  box-shadow: none;
}

.el-upload-list{
  margin: 0 !important;
}
.el-upload-list__item{
  margin: 3px 0 0 0 !important;
}



.layout-aside .el-menu-item .el-menu-tooltip__trigger{
  padding: 0 11px;
}

.layout-aside .el-menu-item{
  padding: 0 11px;
}

.layout-aside .el-sub-menu__title{
  padding: 0 11px;
}

.layout-aside .el-menu--collapse{
  width: 48px !important;
}

.layout-aside .el-sub-menu__title .el-tooltip__trigger .el-tooltip__trigger{
  padding-left: 10px;
}

.layout-aside .el-menu--vertical .el-menu-item.is-active{
  background-color: #0960bd !important;
  color: white;
}

//.el-menu--vertical .el-menu-item.is-hover{
//  background-color: red !important;
//  color: white;
//}
//
//.el-menu--vertical .el-sub-menu .is-active .el-sub-menu__title{
//  color: white;
//}


.layout-aside .el-menu--vertical .el-menu-item{
  color: #b3b9bf ;
  height: 48px !important;
  line-height: 48px !important;
}

.layout-aside .el-menu--vertical .el-menu-item:hover{
  color: white ;
}

.layout-aside .el-menu--vertical .el-sub-menu__title{
  color: #b3b9bf;
  height: 48px !important;
  line-height: 48px !important;
}

.layout-aside .el-menu--vertical .el-sub-menu__title:hover{
  color: white ;
}

.zview .el-input__wrapper{
  border: 0 !important;
  box-shadow:0 0 0 0 !important;
}

.zview .el-textarea__inner{
  border: 0 !important;
  box-shadow:0 0 0 0 !important;
}


//my-bpmn
.bpmn-icon-task.red {
  color: #cc0000 !important;
}
.icon-custom { /* 定义一个公共的类名 */
  border-radius: 50%;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-custom.lindaidai-task { /* 加上背景图 */
  background-image: url('https://hexo-blog-1256114407.cos.ap-shenzhen-fsi.myqcloud.com/rules.png');
}



//暗黑颜色匹配
.default-theme .splitpanes__splitter {
  background-color: #f8f8f8 !important;
}

//[data-theme='dark'] .default-theme .splitpanes__pane {
//  background-color: #2a2a2a !important;
//}
//
//[data-theme='dark'] .default-theme .splitpanes__splitter {
//  background-color: #1f1f1f !important;
//  margin-left: 0 !important;
//  border: 0!important;
//}
//
//[data-theme='dark'] .splitpanes.default-theme .splitpanes__splitter:before,[data-theme='dark'] .splitpanes.default-theme .splitpanes__splitter:after{
//  background-color: #605858 !important;
//}

.dark .default-theme .splitpanes__pane {
  background-color: #2a2a2a !important;
}

.dark .default-theme .splitpanes__splitter {
  background-color: #1f1f1f !important;
  margin-left: 0 !important;
  border: 0!important;
}

.dark .splitpanes.default-theme .splitpanes__splitter:before,.dark .splitpanes.default-theme .splitpanes__splitter:after{
  background-color: #605858 !important;
}
