
.el-table--small .el-table__cell{
  padding: 2px 0;
}

.el-table--small .cell{
  padding: 0 4px;
}

.zform .el-form-item--default .el-form-item__label {
  line-height: 38px;
}

.zform .el-form-item__label{
  padding: 0 2px 0 0;
}

.zform .el-form-item__content{
  background-color: white;
  border-left: 1px solid #d2d2d2;
}

.zform .el-form-item--mini.el-form-item,
.zform .el-form-item--small.el-form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.zform .el-row {
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  background-color: #f6f6f6;
  padding: 0;
}

.zform .zinput {
  padding: 4px;
  border-right: 1px solid #d2d2d2;
  //border-left: 1px solid #d2d2d2;
  height: 40px;
  width: 100%;
  //min-width: 200px;
  background-color: white;
  white-space: nowrap;
  text-overflow:ellipsis;
  //overflow-x: auto;
  //overflow-y: hidden;
  overflow: hidden;

}


.p-flex {
  display: flex;
  background-color: white;
}

.p-left {
  width: 250px;
  min-width: 250px;
  margin-right: 6px;
}

.p-right {
  flex: 1;
  width: 100%;
}


.list-search{
  width: 200px;margin-right: 10px;height: 32px;
}

.p-right .box-card{
  height: 100%;position:relative;overflow-y: auto;
}

.el-card__header{
  padding: 8px;
}
.el-card__body{
  padding: 8px;
}

//.lr-card .el-card__header{
//  padding: 8px;
//}

.p-right .el-card__body{
  position: absolute;width: 100%;
}

//.lr-card-body{
//  padding:3px 13px 3px 2px;position: absolute;width: 100%;
//}

.more-button{
  border:1px dashed #409EFF;background-color: #ecf5ff !important;color:#409eff;
}

.more-params{
  border: 1px dashed #409EFF;padding-top:10px;margin-top: 10px;
}

.layout-container .layout-scrollbar{
  padding: 6px;
}

.znotes{
color: red;border: 1px dashed red;margin-top: 10px;margin-bottom: 10px;padding: 5px
}

.main-header{
  display: none !important;
}

.el-table .cell{
  padding: 0 6px;
}


//.el-menu-hover-bg-color, .el-menu-item.is-active, .el-sub-menu.is-active .el-sub-menu__title, .el-sub-menu:not(.is-opened):hover .el-sub-menu__title
//{
//  background-color: #0960bd !important;
//}
